UseTab: Never
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 80
PointerAlignment: Right
SpaceAfterCStyleCast: false
IndentCaseLabels: false
AlwaysBreakAfterDefinitionReturnType: TopLevel
PenaltyReturnTypeOnItsOwnLine: 0
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterStruct: false
  AfterUnion: false
  AfterControlStatement: Never
  SplitEmptyFunction: false
