Checks: '-*,clang-analyzer-*,bugprone-*,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,-clang-analyzer-security.insecureAPI.strcpy,-bugprone-easily-swappable-parameters,-bugprone-narrowing-conversions,-bugprone-unchecked-string-to-number-conversion,cert-*,-cert-err33-c,-cert-err34-c,-cert-msc30-c,-cert-msc50-cpp,-*taint*'
WarningsAsErrors: '*'
HeaderFilterRegex: 'include/.*'
